<div class="w-full h-full flex flex-col">
  <div class="flex justify-center items-center flex-none h-2/5">
    <img
      class="h-60 w-auto rounded-3xl outline-dashed outline-2 outline-offset-8"
      alt="My image name"
      src="/CHAEHUNLIM_PICTURE.jpg"
    />
  </div>
  <div class="flex-grow flex justify-center mx-24">
    <span class="text-center"
      >How is it going everybody? My name is Chaehun Lim (You can call me Chae
      or Chaehun not Chase nor Chad) and I am an application developer at St.
      Louis Cardinals. If you love coding, baseball or have an opinion on St.
      Louis culinary scene, feel free to reach out!</span
    >
  </div>
  <div class="flex-none gap-4 h-1/6 flex flex-col items-center">
    <span>Personal Links</span>

    <div class="flex w-full justify-evenly gap-4">
      <a href="https://github.com/limch1" target="_blank">github</a>
      <a
        href="https://www.linkedin.com/in/chae-hun-lim-603b30162/"
        target="_blank"
        >linkedin</a
      >
    </div>
  </div>
</div>
