<div class="w-full h-full flex flex-col">
  <div class="flex-none h-1/5 flex flex-col my-16 gap-4 items-center">
    <span class="font-bold">Where did I become the man I am today?</span>

    <ul>
      <li>2024-Present St. Louis Cardinals Application Developer</li>
      <li>2023 CSE457 Data Visualization Head TA</li>
      <li>2023 MoneyLion Software Developer Intern</li>
      <li>2023-2024 Washington University Research Assistant</li>
      <li>2022-2023 Washington University Computer Science M.S.</li>
      <li>2015-2020 Washington University Computer Science B.S.</li>
    </ul>
  </div>
  <div class="flex-grow flex flex-col w-full h-full items-center">
    <span>If you want to learn more about me, here is my</span>

    <div class="flex w-full h-full">
      <div class="flex flex-none w-1/2 justify-center items-center">
        <div
          class="flex flex-col border border-1 border-solid border-black w-1/2 h-4/6 py-4 bg-[#D9D9D9] items-center drop-shadow-md"
        >
          <a
            class="underline text-[#6488EA] hover:bg-sky-700"
            href="https://odd-plot-aae.notion.site/Chae-Hun-Lim-a38523f657ff4d1ea154700323ecd907"
            target="_blank"
            >resume</a
          >
          <div class="flex-grow"></div>
        </div>
      </div>
      <div class="flex flex-none w-1/2 justify-center items-center">
        <div class="absolute">
          <a class="z-10 underline text-[#6488EA] hover:bg-sky-700">email</a>
        </div>
        <div
          class="flex -z-10 drop-shadow-md border border-1 border-solid border-black w-1/2 h-1/4 bg-[#D9D9D9]"
        >
          <div class="flex-none w-1/2 diag"></div>
          <div class="flex-none w-1/2 diag-rev"></div>
        </div>
      </div>
    </div>
  </div>
</div>
