.diag {
    background: linear-gradient(to bottom left,#0000 50%,black ,#0000 51%);

  }

  .diag-rev {
    background: linear-gradient(to bottom right,#0000 50%,black ,#0000 51%);

  }

  .box {
    overflow: hidden;
    /* other styles */
  }